.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.09);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.featuredMoney {
  font-size: 30px;
  font-weight: bold;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
}

.featuredIcon {
  font-size: 14px !important;
  margin-left: 5px;

  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
